#contact-header {
    background-image: url('../../assets/background-images/contact-background.jpg');
    background-position: 0 68%;
}
#company-contact-info li {
    text-align: left;
    margin-bottom: 15px;
}
.contact-icon {
    width: 20px;
    margin-right: 10px;
}
#company-info p {
    margin-top: 5px;
    margin-bottom: 20px;
    padding-right: 25%;
}
#company-contact-info {
    text-align: left;
}
li p {
    display: inline;
}

.contact-form label {
    width: 100%;
    margin-left: 0px;
    margin-top: 10px;
}
.contact-form {
    padding-top: 10px;
    margin-bottom: 220px;
}
textarea {
    width: 90%;
    height: 100px;
}
